{% extends 'base.html' %}
<!-- ***** Header Area End ***** -->
{% block title %} {% endblock title %}
<!-- ***** Header Area End ***** -->
{% block stylesheet %} {% endblock stylesheet %}
<!-- ***** Header Area End ***** -->
{% block content %}
<!-- ***** Header Area End ***** -->
<div class="container-fluid card border-success mb-3" style="max-width: 80rem; height: 30rem;">
    <div class="card-header"> your Massage is submitted </div>
    <div class="card-body text-success">
        <h5 class="card-title">Success card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
{% endblock content %}
<!-- ***** Header Area End ***** -->
{% block js %} {% endblock js %}